{% if site.email %}
<p class="addr"><i class="fa-solid fa-envelope"></i>&nbsp;<a href="mailto:{{site.email}}">{{ site.email }}</a></p>
{% endif %}

<p>{{ site.data.sidebar.description | default: site.github.project_tagline }}</p>

<div class="link-wrapper">
  {% if site.data.sidebar.platforms %}
  <ul class="link">
    {%- for platform in site.data.sidebar.platforms %}
    <li><a href="{{ platform.link }}">{{ platform.icon }}&nbsp;{{ platform.name }}</a></li>
    {%- endfor %}
  </ul>
  {% endif %}

  {% if site.data.sidebar.navigation %}
  <h3 class="sidebar-h3">Navigation</h3>
  <ul class="content">
  {%- for item in site.data.sidebar.navigation %}
    <li><a href="{{ item.link }}">{{ item.name }}</a>
        {% if item.sublist %}
        <ul class="sublist">
            {%- for subitem in item.sublist %}
            <li><a href="{{ subitem.link }}">{{ subitem.name }}</a></li>
            {%- endfor %}
        </ul>
        {% endif %}
    </li>
  {%- endfor %}
  </ul>
  {% endif %}
</div>
